<!DOCTYPE html>
<!-- v2.0 - dinamic with django -->

{% load static %}
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <title>About Roc</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h1 align="center" style="padding:10px;margin-top:30px;">A Random Blog in the Net</h1></div>

            <div class="col-md-6 col-sm-12"><h3 class="header-name">Roc Granada Verdú</h2></div>
        </div>

        <font size="2" >My graphical design skills suck... :(</font>

        <div class="row">
            <hr>
        </div>

        <div class="row">
            <div class="col-12"><h2 style="margin-top:20px">This is me :)</h2></div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-3 col-xs-2">
                <img class="img_responsive icon-image" src="{% static 'blog/images/profile.jpg' %}" alt="Here goes my face :)" />
            </div>
            <div class="col-md-8 col-sm-9 col-xs-10">
                <ul>
                    <li>Roc Granada Verdú</li>
                    <li>20 years old</li>
                    <li>Barcelona, Catalonia</li>
                    <li>3rd year undergraduate in Computer Science at UB</li>
                    <li>Catalan, Spanish, English</li>
                    <li>Working on German & Japanease</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12"><h2 style="margin-top:20px">Blog information</h2></div>
        </div>
        <div class="row">
            <div class="col-12">
                <p><b>What is this blog</b><br>
                This blog/web page is mainly my portfolio. Here I am posting all
                projects I work on.<br><br>

                <b>Why this blog</b><br>
                I have wanted to start this blog since the end of my first
                undergraduate year. Because of my
                'not-finishing-personal-projects' quality I
                did not finish it then, and last year I lost all I had done in an unfortunate accident.<br>
                Luckily, I put effort on it again and now is here up and running. Hope this helps me motivate myself to finish off the projects I start to post them here, have record of them and grow as a professional.<br><br></p>

            </div>
        </div>

        <div class="row">
            <hr>
        </div>

        <div class="row" style="margin-bottom:50px">
            <div class="col-md-4"><a href="{% url 'home' %}"><h4 align="center">Home</h4></a></div>
            <div class="col-md-4"><a href="{% url 'about' %}"><h4 align="center">About me</h4></a></div>
            <div class="col-md-4"><a href="{% url 'contact' %}"><h4 align="center">Contact</h4></a></div>
        </div>
    </div>
</body>
</html>
