<!DOCTYPE html>
<!-- v2.0 - dinamic with django-->

{% load static %}
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <title>{{ entry.title }}</title>
</head>

<body>
    <div class="container">
        <prev>{% include "header.html" %}</prev>

        <!-- Content here -->
        <div class="row">
            <div class="col-md-5">
                {% with "blog/images/entries/"|add:entry.image as image %}
                <img class="img_responsive icon-image" src="{% static image %}" alt="Entry main image"/>
                {% endwith %}
            </div>
            <div class="col-md-7">
                <h2 class="entry-title">{{ entry.title }}</h2>
            </div>
        </div>
        <div class="row">
            <p></p>
        </div>

        <div class="row">
            <prev>{% include entry_file %}</prev>
        </div>

        <prev>{% include "footer.html" %}</prev>

    </div>
</body>
</html>
