<!DOCTYPE html>
<!-- Page based on udacity "Intro to HTML and CSS" course -->
<!-- v2.0 dinamic with django -->

{% load static %}
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'blog/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

</head>
<body>
    <div class="container">
    <prev>{% include "header.html" %}</prev>


    <div class="row">
        {% if entries %}
            {% for entry in entries %}
                <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="row">
                    {% with "blog/images/entries/"|add:entry.image as image %}
                    <div class="col-md-6"><a href="{% url 'entries' entry.identifier %}"><img class="img_responsive icon-image" src="{% static image %}" /></a></div>
                    {% endwith %}
                    <div class="col-md-6"><p>{{ entry.title }}</p></div>
                </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No Blog entries available.</p>
        {% endif %}
    </div>

    <prev>{% include "footer.html" %}</prev>
  </div>
</body>
</html>
